@import "../../../src/assets/_init";


.landing {
  .cover {
    padding-top: 15px;
  }

  .store-buttons {
    text-align: left;

    @include media-breakpoint-down(sm) {
      text-align: center;
    }
  }
}