@import '../../assets/_init';

.jumbotron {

  background-color: $light;
  height: 400px;

  background-image: url('/img/landing.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  overflow: hidden;

  @include media-breakpoint-down(sm) {
    height: 800px;
  }

  .col-left {
    @include media-breakpoint-up(md) {
      height: 100%;
    }
  }

  .device {
    top: -3rem;
    position: absolute;


    @include media-breakpoint-down(md) {
      position: relative;
      top: 0;
    }
  }

  .title, .lead {
    color: $light;
  }
}